*.log
temp/


./home/parvej/Sikder Md Saiful Islam/september/nw 3dnet/nw3/chatgpt t2/3D-Net-Traffic-Monitoring/data/output2
./home/parvej/Sikder Md Saiful Islam/september/nw 3dnet/nw3/chatgpt t2/3D-Net-Traffic-Monitoring/data/output